{% set snipcart_image = page.media.images|first %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div id="snipcart-detail" class="block-group">
	{{ page.order|trim('.') }}

	<div class="snipcart-info block">
		<div class="snipcart-thumb">
			{% if snipcart_image %}
				{{ snipcart_image.cropResize(400,400).html(page.header.title,'snipcart-thumb-image')|raw }}
			{% endif %}
			<span class="snipcart-price">
				{{ page.header.price }}zł
			</span>
		</div>
		<p>
			<a href="#" class="button snipcart-add-item snipcartItemek" data-item-id="{{ page.header.product_id }}" data-item-name="{{ page.header.title }}" data-item-price="{{ page.header.price }}" data-item-description="brak informacji" data-item-url="{{ page.url }}" data-item-custom1-name="Kolor" data-item-custom1-options="Czarny|Brązowy|Złoty" data-item-custom2-name="Informacja" {% spaceless %} {% if snipcart_image %} data-item-image="{{ snipcart_image.cropResize(50,50).url }}" {% endif %} {% endspaceless %}>
				<i class="fa fa-shopping-cart"></i>
				{{ 'GRAV.ADDTOCART'|t|e}}
			</a>
		</p>
	</div>

	<div class="snipcart-details block">
		<h1>{{ page.header.title }}</h1>
		<p>{{ page.content|raw }}</p>
	</div>

<p style="font-size: 2em">{{ 'GRAV.CHOOSE'|t|e}}</p>
	<div style="margin-top: 1em; margin: auto">

		<input type="checkbox" class="checkGet simpleCheck ckeckboxCheckKartki" checked>{{ 'GRAV.SIMPLEMODI'|t|e}}
		<input type="checkbox" class="checkGet szablonCheck ckeckboxCheckKartki">{{ 'GRAV.TEMPLATES'|t|e}}
		<div class="simple">
			<div style="float: left; width: 40em">
				<div>
					<div style="float:left; width: 100%">
						<input type="text" class="textKartka" placeholder="Text...">
            <button type="button" class="btn btn-primary" style="width: 100%">{{ 'GRAV.ADD'|t|e}}</button>
					</div>
					<div style="clear:both"></div>
				</div>        
				<input type="checkbox" class="centerText ckeckboxCheckKartki">{{ 'GRAV.CENTERTEXT'|t|e}}
        <input type="checkbox" class="boldText ckeckboxCheckKartki">{{ 'GRAV.BOLD'|t|e}}
			</div>
			<div style="float: left; width: 40em; height: 950px" class="centerText">
				<div style="width: 40em; height: 50em; background-color: white; border-style: solid;">
          
					<center><div style="margin: auto; text-align: center;" class="showText"></div></center>
          
				</div>
			</div>
		</div>
	</div>

	<div class="szablony">
  <div>
      		<input type="checkbox" class="szablonGet 1 ckeckboxCheckKartki">#1
		     <input type="checkbox" class="szablonGet 2 ckeckboxCheckKartki">#2
	      	<input type="checkbox" class="szablonGet 3 ckeckboxCheckKartki">#3
          </div>



  <div class="1Mem">
			<div style="float: left; width: 40em">
				<div>
					<div style="float:left; width: 100%">
						<input type="text" class="textSzablon11" placeholder="Text 1">
            <input type="text" class="textSzablon21" placeholder="Text 2">
            <button type="button" class="btn btn-primary" style="width: 100%">{{ 'GRAV.ADD'|t|e}}</button>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="float: left; width: 40em;height: 950px">
				<div style="width: 40em; height: 50em; background-color: white; border-style: solid;">
					<div style="margin: auto; text-align: center; position: absolute; font-size: 40px; font-weight: bold; max-width: 16m; width: 16em; height-max: 7em; height: 7em;text-align: center;vertical-align: middle;" class="showTextMem11"></div>
					<div style="margin: auto; text-align: center; position: absolute; font-size: 23px; max-width: 27.5em; width: 27.5em; height-max: 23em; height: 23em;text-align: center;vertical-align: middle; margin-top: 10em" class="showTextMem21"></div>
          <img src="/user/pages/images/szablon_1.png" alt="swiat_kartek" style="width: 100%; height: 100%">
				</div>
			</div>
		</div>
  </div>
</div>
   
   
   
    <div class="2Mem">
			<div style="float: left; width: 40em;">
				<div>
					<div style="float:left; width: 100%">
						<input type="text" class="textSzablon12" placeholder="Text 1">
            <input type="text" class="textSzablon22" placeholder="Text 2">
            <input type="text" class="textSzablon32" placeholder="Text 3">
            <button type="button" class="btn btn-primary" style="width: 100%">{{ 'GRAV.ADD'|t|e}}</button>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="float: left; width: 40em;height: 950px">
				<div style="width: 40em; height: 50em; background-color: white; border-style: solid;">

					<div style="margin: auto; text-align: center; position: absolute; font-size: 23px; font-weight: bold; max-width: 9m; width: 9em; height-max: 8em; height: 8em;text-align: center;vertical-align: middle;margin-left: 15em; margin-top: 4em" class="showTextMem12"></div>
          <div style="margin: auto; text-align: center; position: absolute; font-size: 23px; font-weight: bold; max-width: 9m; width: 9em; height-max: 8em; height: 8em;text-align: center;vertical-align: middle;margin-left: 2em; margin-top: 19em" class="showTextMem22"></div>
          <div style="margin: auto; text-align: center; position: absolute; font-size: 10px; font-weight: bold; max-width: 15m; width: 15em; height-max: 5em; height: 5em;text-align: center;vertical-align: middle;margin-left: 48em; margin-top: 74em" class="showTextMem32"></div>
        
          <img src="/user/pages/images/szablon_2.jpg" alt="swiat_kartek" style="width: 100%; height: 100%">

				</div>
			</div>
		</div>
		</div>


    <div class="3Mem">
			<div style="float: left; width: 40em">
				<div>
					<div style="float:left; width: 100%;">
						<input type="text" class="textSzablon13" placeholder="Text 1">
            <button type="button" class="btn btn-primary" style="width: 100%">{{ 'GRAV.ADD'|t|e}}</button>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="float: left; width: 40em; height: 1000px">
				<div style="width: 40em; height: 50em; background-color: white; border-style: solid;">
					 <div style="margin: auto; text-align: center; position: absolute; font-size: 23px; font-weight: bold; max-width: 13m; width: 13em; height-max: 12em; height: 12em;text-align: center;vertical-align: middle;margin-left: 7em; margin-top: 11em" class="showTextMem13"></div>
          <img src="/cms_grav/user/pages/images/szablon_3.jpg" alt="swiat_kartek" style="width: 100%; height: 100%">
				</div>
			</div>
		</div>
  </div>
</div>

</div>



<script>



      $(".1Mem").hide();
      $(".2Mem").hide();
      $(".3Mem").hide();

$(document).on('click', '.1', function() {      
        $(".1Mem").show();
      $(".2Mem").hide();
      $(".3Mem").hide();
});
$(document).on('click', '.2', function() {      
        $(".1Mem").hide();
      $(".2Mem").show();
      $(".3Mem").hide();
});
$(document).on('click', '.3', function() {      
        $(".1Mem").hide();
      $(".2Mem").hide();
      $(".3Mem").show();
});

//1
$(".textSzablon21").change(function () {
  $('.showTextMem21').text(function (index) {
   // $('.showTextMem21').css("line-height", "20em");
      return $('.textSzablon21').val();
    });
});

$(".textSzablon11").change(function () {
  $('.showTextMem11').text(function (index) {
      return $('.textSzablon11').val();
    });
});

//2
$(".textSzablon22").change(function () {
  $('.showTextMem22').text(function (index) {
  //  $('.showTextMem22').css("line-height", "10em");
      return $('.textSzablon22').val();
    });
});

$(".textSzablon12").change(function () {
  $('.showTextMem12').text(function (index) {
      return $('.textSzablon12').val();
    });
});

$(".textSzablon32").change(function () {
  $('.showTextMem32').text(function (index) {
  //  $('.showTextMem32').css("line-height", "55em");
      return $('.textSzablon32').val();
    });
});

//3
$(".textSzablon23").change(function () {
  $('.showTextMem23').text(function (index) {
    $('.showTextMem23').css("line-height", "10em");
      return $('.textSzablon23').val();
    });
});

$(".textSzablon13").change(function () {
  $('.showTextMem13').text(function (index) {
      return $('.textSzablon13').val();
    });
});

$(".textSzablon33").change(function () {
  $('.showTextMem33').text(function (index) {
    $('.showTextMem33').css("line-height", "55em");
      return $('.textSzablon33').val();
    });
});

$(".textSzablon43").change(function () {
  $('.showTextMem43').text(function (index) {
    $('.showTextMem43').css("line-height", "16em");
      return $('.textSzablon43').val();
    });
});









$(document).ready(function () {
    $("input").change(function () {
      $('.showText').text(function (index) {
      test = $('.textKartka').val();
      return $('.textKartka').val();
    });
  });
});

$(".centerText").change(function () {
  if ($('.centerText').prop('checked')) {
    $('.showText').css("text-align", "center");
    $('.showText').css("line-height", "50em");
  } else {
    console.log("nie");
    $('.showText').css("line-height", "2em");
  }
});


$(".boldText").change(function () {
  if ($('.boldText').prop('checked')) {
    $('.showText').css("font-weight", "bold");
  } else {
    $('.showText').css("font-weight", "normal");
  }
});


//zapisanie i wyslanie informacji
var descritpion = "brak informacji";
$(".snipcartItemek").click(function () {
  if ($('.memesCheck').prop('checked')) {
    descritpion = "MEM";
  } else {
    descritpion = "Treść: ";
    descritpion += $('.textKartka').val();
    descritpion += ";Wycentrować: ";
  if ($('.centerText').prop('checked')) {
    descritpion += "Tak";
  } else {
    descritpion += "Nie";
  }
  //dla szablonow

  if ($('.szablonCheck').prop('checked')){

if ($('.1').prop('checked')) {
    descritpion = "SZABLON[1];Tresc[1]:";
    descritpion += $('.textSzablon11').val() + ";";
    descritpion += "Tresc[2]:";
    descritpion += $('.textSzablon21').val() + ";";

  }
    if ($('.2').prop('checked')) {
    descritpion = "SZABLON[2];Tresc[1]:";
    descritpion += $('.textSzablon12').val() + ";";
    descritpion += "Tresc[2]:";
    descritpion += $('.textSzablon22').val() + ";";
    descritpion += "Tresc[3]:";
    descritpion += $('.textSzablon32').val() + ";";
  }
    if ($('.3').prop('checked')) {
    descritpion = "SZABLON[3];Tresc[1]:";
    descritpion += $('.textSzablon13').val() + ";";
  }

  }


  
}
  $(".snipcartItemek").attr("data-item-description", descritpion);
});

$(".szablony").hide();






$(document).on('click', '.checkGet', function() {      
    $('.checkGet').not(this).prop('checked', false);  
});

$(document).on('click', '.szablonGet', function() {      
    $('.szablonGet').not(this).prop('checked', false);  
});

$(document).on('click', '.simpleCheck', function() {      
      $(".szablony").hide();
      $(".simple").show();
});

$(document).on('click', '.szablonCheck', function() {      
       $(".szablony").show();
      $(".simple").hide();
});











</script>
<style>
.ckeckboxCheckKartki {
	-ms-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	padding: 10px;
}
</style>