{% set snipcart_image = page.media.images|first %}

<div id="snipcart-detail" class="block-group">

    {{ page.order|trim('.') }}

    <div class="snipcart-info block">
        <div class="snipcart-thumb">
            {% if snipcart_image %}
                {{ snipcart_image.cropResize(400,400).html(page.header.title,'snipcart-thumb-image')|raw }}
            {% endif %}
            <span class="snipcart-price">
            {{ page.header.price }}zł
            </span>
        </div>
        <p>
            <a href="#"
                class="button snipcart-add-item"
                data-item-id="{{ page.header.product_id }}"
                data-item-name="{{ page.header.title }}"
                data-item-price="{{ page.header.price }}"
                data-item-url="{{ page.url }}"
                {% spaceless %}
                {% if snipcart_image %}
                    data-item-image="{{ snipcart_image.cropResize(50,50).url }}"
                {% endif %}
                {% endspaceless %}
                
            >
                <i class="fa fa-shopping-cart"></i> Dodaj do koszyka
            </a>
        </p>
    </div>
    
    <div class="snipcart-details block">
        <h1>{{ page.header.title }}</h1>
       <p>{{ page.content|raw }}</p>
    </div> 
    

 <div style="margin-top: 1em; margin: auto">
     <div style="float: left; width: 40em">
        <input type="text" class="textKartka">
    </div>
    <div style="float: left; width: 40em">
        <div style="width: 40em; height: 50em; background-color: white; border-style: solid;">
        <div style="margin: auto; text-align: center" class="showText"></div>
       </div>
    </div>
</div>
</div>




<script>

$(document).ready(function() {
    $("input").change(function(){
        $('.showText').text(function( index ) {
            return $('.textKartka').val();
        });
    }); 
});

</script>

